body {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
  background-color: snow;
  max-width: 640px;
  margin: 0 auto;
}

main {
  background-color: snow;
  padding: 1rem 0.5rem;
  overflow-y: auto;
  margin: 0 auto;
}

.top-style {
  font-family: "Roboto";
  background-color: forestgreen;
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  font-weight: lighter;
  margin-top: 0;
  text-align: center;
  color: snow;
}
.nav {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav ul,
.nav li {
  display: contents;
}
.nav-link {
  background: forestgreen;
  text-align: center;
  padding: 12px 0;
  color: white;
  text-decoration: none;
}
.cardarea {
  width: 90%;
  max-width: 640px;
  padding: 10px;
}
.card {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 1px 2px hsl(0deg 0% 0% / 0.075), 0 2px 4px hsl(0deg 0% 0% / 0.075),
    0 4px 8px hsl(0deg 0% 0% / 0.075), 0 8px 16px hsl(0deg 0% 0% / 0.075);
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.title {
  color: forestgreen;
  font-size: 18px;
}
.button__card {
  display: block;
  padding: 8px;
  color: white;
  background-color: skyblue;
  text-align: center;
  cursor: help;
  width: 50%;
  font-size: 18px;
  margin: 0 auto;
}
h2 {
  padding-top: 1rem;
  font-size: 26px;
  font-family: "Roboto";
  font-weight: lighter;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight: lighter;
}
button:hover {
  opacity: 0.8;
  background-color: forestgreen;
}
